<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    <div id="paper" class="paper"/></div>
    <link rel="stylesheet" href="/stylesheets/joint.css" />
    <link rel="stylesheet" href="/stylesheets/logic.css" />
    <script src="/javascripts/joint.js"></script> 
    <script src="/javascripts/joint.shapes.logic.js"></script> 
    <script src="/javascripts/logic.js"></script>
    <script type="text/javascript">
    var current;
    function plotGraph(gGates, gWires){
        console.log(gGates);
        console.log(gWires);
        graph.addCells(_.toArray(gates));
        _.each(wires, function(attributes) { graph.addCell(new joint.shapes.logic.Wire(attributes)) });

        current = initializeSignal();
        console.log(current);
    };
    plotGraph(JSON.parse('<%-graphGates%>'), JSON.parse('<%-graphWires%>')); 
    </script>
    <style type="text/css">
            .tool-remove {
                visibility: hidden;
            }
    </style>
</body>
</html>